html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    color: #df1a1a;
    margin: 0;
    padding: 0;
    /*font-family: "Montserrat", sans-serif;*/
    font-family: "Avenir Next", Calibri, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    border: none;
    /* background-image: url(Images/bg2.jpg); */
    background-repeat: no-repeat;
   background-size: cover;
  }

  #home{
      height: 660px;
      background-image: url(img/head.jpg);
      background-size: cover;
  }

  h1 {
      padding-top: 200px;
    font-size: 60px;
    line-height: 0;
    text-align: center;
    font-weight: bolder;
    color: rgb(184, 23, 23);
  }
  
  h2 {
    font-size: 60px;
    position: relative;
    font-family: calibri;
    font-weight: bolder;
    letter-spacing: 2px;
    color: white/*#f2f2f2*/;
    text-align: center;

  }


  .content-wrap {
      
    /* max-width: 800px; */
    /* width: 85%; */
    margin: 0 auto;
    padding: 60px 0;
  }
  
  .card{
      padding: 10px ;
      
  }
 
  .card:hover
  {
      background-color: #e7f9ff;
    transition: transform 0.2s ease;
  }

  .button {
    background-color: #1c2c1d;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
  }
  .prgrms{
    padding: 60px;
    background: rgb(246, 246, 247);

    background: linear-gradient(90deg, rgba(245, 245, 244, 0.945) 0%, rgb(241, 241, 241) 100%);
    
    background: -moz-linear-gradient(90deg, rgb(237, 238, 235) 0%, rgb(229, 230, 225) 100%);
    
    background: -webkit-linear-gradient(90deg, rgb(241, 241, 239) 0%, rgb(248, 247, 250) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#595CFF", endColorstr="#C6F8FF", GradientType=1 );
  }

  .test{
    box-sizing: border-box;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    background: hsla(141, 81%, 87%, 1);

    background: linear-gradient(90deg, rgb(236, 236, 234) 0%, rgb(250, 250, 249) 50%, rgb(245, 245, 243) 100%);
    
    background: -moz-linear-gradient(90deg, rgb(246, 247, 245) 0%, rgb(245, 245, 243) 50%, rgb(244, 245, 241) 100%);
    
    background: -webkit-linear-gradient(90deg, rgb(239, 241, 240) 0%, rgb(252, 251, 249) 50%, rgb(255, 255, 255) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C5F9D7", endColorstr="#F7D486", GradientType=1 );
  }
  html{
    background-color: black;
  }
  body .for{
    background-color: black;
     }
  .formbody
  {
      margin: 0px;
      padding:50px;
      border-radius: 0px;
      background: rgb(238, 170, 102);

background: linear-gradient(90deg, rgb(245, 241, 234) 0%, rgb(245, 126, 15) 100%);

background: -moz-linear-gradient(90deg, rgb(252, 248, 240) 0%, rgb(248, 146, 13) 100%);

background: -webkit-linear-gradient(90deg, rgb(248, 247, 245) 0%, rgb(88, 87, 85) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FBD07C", endColorstr="#F7F779", GradientType=1 );
      
  }
 footer{
    border-top: 3px solid rgb(7, 7, 7);
    width: 100%;
    
}
#f_fon{
  color: rgb(8, 8, 8);
  text-decoration: none ;
}
#f_fon:hover{
 color: rgb(10, 7, 3);

}
#f_img{
    max-width: 60%;
    padding-left: 30%;
}

   .isRight{
    border-left: 3px solid #050505;
    padding-left: 10%;
}
  
  @media only screen and (max-width: 650) {
  
    h1 {
    padding-top: 200px;
    font-size: 12px;
  }
  
  h2 {
    font-size: 1px;
  
  }

  }

  @media only screen and (max-width: 900px) {
   .content-wrap h1 {
     padding-top: 200px;
     font-size: 25px;
     background-size: cover;
  }
  
  .content-wrap h2 {
    font-size: 18px;
  
  }
  
  .prgrms h1{
    font-size: 30px;
  }

  .test h1{
    font-size: 30px;
  }

  .button{
    font-size: 12px;
  }

  }
